<div class="row">
	<div class="col-md-3">
		<span class="hipster img-fluid rounded"></span>
	</div>
	<div class="col-md-9">
		<h1>Welcome to Tasks Application</h1>

		<div class="table-responsive" *ngIf="tasks">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><span>ID</span></th>
						<th><span>Name</span></th>
						<th><span>Due Date</span></th>
						<th><span>Completed</span></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let task of tasks">
						<td>{{task.id}}</td>
						<td>{{task.name}}</td>
						<td>{{task.dueDate | date:'mediumDate'}}</td>
						<td>{{task.completed}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
